{% set pagetitle = '%main Account Not Found'|trans({"%main": MainAccountProvider}) %}

{% extends "base.twig" %}

{% block postload %}
    {#<script src="{{ asset('js/loginuserpass.js', 'core') }}"></script>#}
{% endblock %}

{% block content %}
    
    <h1 class="page-title">{{ '%main Account Not Found'|trans({"%main": MainAccountProvider}) }}</h1>

    <p>{{ 'The %main account for "%secondaryAccount" was not found, so you must authenticate with your %main account to continue.'|trans({"%main": MainAccountProvider, "%secondaryAccount": SecondaryAccount}) }}</p>
    <div class="center-form login-form-start">
        <form id="f" class="pure-form pure-form-aligned" action="{{ moduleURL('uab/primary-auth', {'StateId': StateId}) }}"
            method="post" name="f" spellcheck="false">
                
            <div class="pure-control-group center login-form-submit">
                <button class="pure-button" id="cancel_button" type="submit" name="cancel" value="1" onclick="return confirm('{{ 'Are you sure you want to cancel?'|trans|e('js') }}')">
                    {% trans %}Cancel{% endtrans %}
                </button>
                <button class="pure-button pure-button-red" id="submit_button" type="submit" name="continue" value="1">
                    {% trans %}Continue{% endtrans %}
                </button>
            </div>
        </form>
    </div>

{% endblock %}
