{% set pagetitle = 'Sign in @%s'|trans({"%s": header}) %}

{% extends "base.twig" %}

{% block postload %}
    {#<script src="{{ asset('js/loginuserpass.js', 'core') }}"></script>#}
{% endblock %}

{% block content %}
    {% apply spaceless %}
        {%- if not isProduction %}
            <div class="message-box warning">
            {% trans %}You are now accessing a pre-production system. This authentication setup is for testing and pre-production verification only. If someone sent you a link that pointed you here, and you are not <i>a tester</i> you probably got the wrong link, and should <b>not be here</b>.{% endtrans %}
            </div>
        {% endif -%}


        <h1 id="page-title" class="page-title">{{ 'Sign In With'|trans }}</h1>
        
        {% if sources is not empty %}
            <form action="">
                <div class="auth-sources-list" role="group" aria-labelledby="page-title">
                    {% for key, source in sources %}
                        {% set button = ('button-' ~ key) %}
                        {% set label = (source.text is defined ? source.text|translateFromArray : key) %}
                        <div role="presentation" class="focus-element-wrapper">
                            <button class="auth-source-btn has-focus-element {{ source.css_class|default('') }} authsource authsource-{{ key|e('html_attr') }}{% if currentSource is not empty and currentSource.key==key %} authsource-current{% endif %}" aria-pressed="{{ (currentSource is not empty and currentSource.key==key)?'true':'false' }}" type="submit" formmethod="post" formaction="{{ moduleURL('uab/discovery', {'AuthState': MultiAuthState, 'source':key}) }}" name="sourceChoice[{{ key }}]" id="{{ button }}" value="{{ label|e('html_attr') }}" aria-label="{{ label|e('html_attr') }}" title="{{ label|e('html_attr') }}" {% if source.help is defined %}aria-details="authsource-{{ key|e('html_attr') }}-help"{% endif %}>
                                <span 
                                    {% if currentSource is not empty and currentSource.key==key %} id="authsource-{{ key|e('html_attr') }}"{% endif %} 
                                    class="authsource-label">
                                        {{ label }}
                                </span>
                            </button>
                            <span class="focus-form-element"></span>
                            {% if source.help is defined %}
                                <div id="authsource-{{ key|e('html_attr') }}-help" class="visually-hidden">{{ source.help|translateFromArray }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </form>
        {% endif %}

        {% if errorcode -%}
            <div id="error-message" class="message-box error">

                {% set errtitles = errorcodes['title'] %}
                {% set errtitle = errtitles[errorcode] %}

                <h2 class="font-semi-bold">{{ errtitle|trans(errorparams) }}</h2>

                {% set errdescs = errorcodes['descr'] %}
                {% set errdesc = errdescs[errorcode] %}

                <p>{{ errdesc|trans(errorparams) }}</p>

            </div>
        {%- endif %}

        <div class="login-form-wrapper">
            <form id="f" class="login-form uab-login-form" action="{{ moduleURL('uab/loginuserpass', {'AuthState': AuthState}) }}" method="post" name="f" spellcheck="false" 
                aria-label="{{ 'Authentication'|trans()|e('html_attr') }}" 
                aria-describedby="page-title {% if currentSource is not empty %}authsource-{{ currentSource.key|e('html_attr') }}{% endif %}"
                {% if errorcode -%} aria-invalid="true" aria-errormessage="error-message" {%- endif %} 
                >
                <div class="login-form-group username-wrapper order-1">
                    <label for="username">{{ 'Username'|trans }}</label>
                    <div class="focus-element-wrapper">
                        <input id="username" {{ forceUsername ? 'disabled' }} type="text" name="username" class="has-focus-element"
                            {%- if not forceUsername %} value="{{ username }}" autocomplete="username" {% endif %}
                            {#%- if not forceUsername and not username %} autofocus {% endif %#} required 
                            data-error-empty="{{ 'Error: The field "%s" is empty'|trans({"%s": 'Username'|trans })|e('html_attr') }}" 
                            >
                        <span class="focus-form-element"></span>
                    </div>
                </div>

                <div class="login-form-group password-wrapper order-3">
                    <label for="password">{{ 'Password'|trans}}</label>
                    <div class="focus-element-wrapper">
                        <input id="password" type="password" name="password" class="has-focus-element" autocomplete="current-password"
                            {#%- if forceUsername or username %} autofocus {% endif %#} required 
                            data-error-empty="{{ 'Error: The field "%s" is empty'|trans({"%s": 'Password'|trans })|e('html_attr') }}" 
                            >
                        <span class="focus-form-element"></span>
                    </div>
                </div>

                {% if organizations is defined -%}
                    <div class="login-form-group organization-wrapper order-4">
                        <label for="organization">{{ 'Organization'|trans }}</label>
                        <div class="focus-element-wrapper">
                            <select class="has-focus-element" name="organization" id="organization">
                                {{ selectedOrg ?: null }}
                                {%- for id, orgDesc in organizations -%}
                                    {% if id == selectedOrg -%}
                                        {%- set selected = 'selected="selected"' %}
                                    {%- else -%}
                                        {% set selected = '' -%}
                                    {% endif -%}
                                    {% if orgDesc -%}
                                        <option value="{{ id }}" {{ selected }}>{{ orgDesc|trans }}</option>
                                    {% endif -%}
                                {% endfor %}
                            </select>
                            <span class="focus-form-element"></span>
                        </div>
                        {% if rememberOrganizationEnabled is defined -%}
                        <div class="login-form-group">
                            <label for="remember_organization" class="checkbox-wrapper">
                            <input type="checkbox" id="remember_organization" name="remember_organization" value="Yes"
                                    {{ rememberOrganizationChecked ? 'checked="checked"' }} >
                                <small>{{ 'Remember my organization'|trans }}</small>
                            </label>
                        </div>
                        {%- endif %}
                    </div>
                {%- endif %}

                {% if rememberUsernameEnabled and not forceUsername -%}
                    <div class="login-form-group remember_username-wrapper cuddle-above order-2">
                        <label for="remember_username" class="checkbox-wrapper">
                            <input id="remember_username" type="checkbox"
                                    {{ rememberUsernameChecked ? 'checked' }} name="remember_username" value="Yes">
                            <small>{{ 'Remember my username'|trans }}</small>
                        </label>
                    </div>
                {%- endif %}

                {% if rememberMeEnabled -%}
                <div class="login-form-group remember-wrapper cuddle-above order-5">
                    <label for="remember_me" class="checkbox-wrapper">
                    <input id="remember_me" type="checkbox"
                            {{ rememberMeChecked ? 'checked="checked"' }} name="remember_me" value="Yes">
                        <small>{{ 'Remember me'|trans }}</small>
                    </label>
                </div>
                {%- endif %}

                <div class="login-form-group focus-element-wrapper sign-in-btn-wrapper order-6">
                    <button class="sign-in-btn has-focus-element" id="submit_button" type="submit" data-processing="{% trans %}Processing...{% endtrans %}">
                        {% trans %}Sign in{% endtrans %}
                    </button>
                    <span class="focus-form-element"></span>
                </div>
            </form>
        </div>
        {#
        <br><br>
        <div class="pure-form-message">
            <strong>{{ 'Help! I don\'t remember my password.'|trans }}</strong>
            <p>{{ 'Without your username and password you cannot authenticate yourself for access to the service. There may be someone that can help you. Consult the help desk at your organization!'|trans }}</p>
        </div>
        #}
    {% endapply %}
{% endblock %}
